<?xml version='1.0' encoding='UTF-8'?>
<outfit name="{name}">
 <general>
  <typename>{typename}</typename>
  <slot prop="bio_hull">structure</slot>
  <size>{size}</size>
  <mass>{mass}</mass>
  <price>{price}</price>
  <description>{desc}</description>
  <gfx_store>{gfx_store}</gfx_store>
 </general>
 <specific type="modification">
  <cargo>{cargo}</cargo>
  <absorb>{absorb}</absorb>
  <armour>{armour}</armour>
 </specific>
</outfit>
