<?xml version='1.0' encoding='UTF-8'?>
<outfit name="{name}">
 <general>
  <typename>{typename}</typename>
  <slot prop="bio_engines">structure</slot>
  <size>{size}</size>
  <mass>{mass}</mass>
  <price>{price}</price>
  <description>{desc}</description>
  <gfx_store>{gfx_store}</gfx_store>
 </general>
 <specific type="modification">
  <accel>{accel}</accel>
  <turn>{turn}</turn>
  <speed>{speed}</speed>
  <fuel>{fuel}</fuel>
  <energy_regen_malus>{energy_malus}</energy_regen_malus>
  <engine_limit>{engine_limit}</engine_limit>
 </specific>
</outfit>
