*.o
*.d
*.a
*.pyc
m4/*.m4
m4/*.m4~
.hgignore
VERSION
ndata
mkspr
mkspr.exe
naev
naev.exe
naikari
naikari.exe
pack
pack.exe
docs/doxygen/*
docs/lua/*.luadoc
docs/html
config.h.in
Makefile.in
*Makefile
*.deps/
src/.dirstamp
src/stamp-h1
src/config.h
src/config.h.in~
build/*
aclocal.m4
autom4te.cache/*
config.log
config.status
configure
m4/pkg.m4
naev_csv
naikari_csv
bintray.json
/*.dll
/*.exe
asset.xml
ssys.xml
stderr.txt
stdout.txt
.DS_Store
*.pbxuser
*.mode1v3
extras/macos/Info.plist
extras/.dirstamp
extras/steam/2fa/2fa.txt
extras/steam/content
extras/steam/output
extras/windows/installer/bin
dist/*
dat/LANGUAGES
release.log
Naev.app
Naikari.app
core
ABOUT-NLS
ABOUT-NLS~
po/xml.pot
po/naev.pot
po/naikari.pot
po/POTFILES
po/Makefile.in.in
po/Makefile.in.in~
po/Makevars.template
po/Makevars.template~
po/Rules-quot
po/Rules-quot~
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/stamp-it
po/stamp-po
po/@GETTEXT_PACKAGE@.pot
po/*.gmo
*.gen.c
*.gen.h
src/shaders_c_gen

/.cproject
/.project

bin/
utils/starmap/*.svg
utils/starmap/*.png
utils/starmap/*.jpg
utils/starmap/*.log
/compile_commands.json
*.ninja_deps
*.ninja_log
builddir/
/subprojects/*
!/subprojects/packagefiles
!/subprojects/*.wrap
