[submodule "extras/windows/mingw-bundledlls"]
path = extras/windows/mingw-bundledlls
url = https://github.com/ProjectSynchro/mingw-bundledlls.git
branch = ucrt_blacklist
[submodule "dat/lua-repl"]
path = dat/lua-repl
url = https://github.com/hoelzro/lua-repl.git
[submodule "utils/shlinters"]
path = utils/shlinters
url = https://codeberg.org/johann1764/shlinters
branch = main
