*.o
*.d
*.a
*.pyc
.hgignore
mkspr
mkspr.exe
build/*
naev_csv
naikari_csv
bintray.json
asset.xml
ssys.xml
stderr.txt
stdout.txt
.DS_Store
*.pbxuser
*.mode1v3
extras/macos/Info.plist
extras/steam/2fa/2fa.txt
extras/steam/content
extras/steam/output
extras/windows/installer/bin
dist/*
dat/LANGUAGES
dat/VERSION
release.log
Naev.app
Naikari.app
core
po/credits.pot
po/naev.pot

/.cproject
/.project

meson-bin/

bin/
utils/starmap/*.svg
utils/starmap/*.png
utils/starmap/*.jpg
utils/starmap/*.log
/compile_commands.json
/.clangd/
*.ninja_deps
*.ninja_log
builddir/
meson-bin/
/subprojects/*
!/subprojects/packagefiles
!/subprojects/*.wrap
