[submodule "extras/windows/mingw-bundledlls"]
	path = extras/windows/mingw-bundledlls
	url = https://github.com/mpreisler/mingw-bundledlls.git
[submodule "artwork"]
	path = artwork
	url = https://github.com/naev/naev-artwork-production.git
	branch = main
[submodule "dat/lua-repl"]
	path = dat/lua-repl
	url = https://github.com/UncombedCoconut/lua-repl.git
