*.o
*.d
*.a
*.pyc
.hgignore
VERSION
ndata
mkspr
mkspr.exe
naev
naev.exe
pack
pack.exe
docs/doxygen/*
docs/lua/*.html
docs/lua/*.css
docs/lua/modules/*
docs/lua/*.luadoc
*.in
*Makefile
*.deps/
src/stamp-h1
src/config.h
src/config.h.in~
build/*
aclocal.m4
autom4te.cache/*
config.log
config.status
configure
m4/pkg.m4
m4/sdl.m4
naev_csv
/*.dll
/*.exe
asset.xml
ssys.xml
stderr.txt
stdout.txt
.DS_Store
*.pbxuser
*.mode1v3
extras/macosx/build/
