[Desktop Entry]
Type=Application
Name=Naev
GenericName=Naev
Comment=2D action/rpg space trading combat game
Icon=naev
Exec=naev
Categories=Game;AdventureGame;
Terminal=false
Keywords=2D;action;rpg;space;trading;combat;game;
