.full {
   width: 920px;
}

.shipimage {
   display: table-cell;
   width: 30%;
   float: left;
   vertical-align: middle;
   padding-bottom: 10px;
}

div.info {
   float: left;
   width: 20%;
}

div.info2 {
   float: left;
   width: 30%;
}

.info2 ul {
   width: 60%;
   text-align: right;
   float: left;
   padding-right: 5%;
}

.info2 li {
   font-weight: bold;
   font-size: 90%;
}

ul.info2r {
   width: 35%;
   text-align: left;
   padding: 0;
}

.info2r li {
   font-weight: normal;
}

.slots {
   margin: auto;
   width: 20%;
   float:right;
   text-align: center;
}

.Light, .Medium, .Heavy {
   font-size: 15px;
   line-height: 1.8em;
   padding-right: 17px;
}

.info, .info2, .slots {
   margin-top: 50px;
}

.stats {
   width: 40%;
   float: left;
}

.desc {
   width: 50%;
   float: right;
}

.bottom {
   overflow: hidden;
   height: 100%;
}

.license {
   margin:auto;
   float: left;
   margin-top: 50px;
}
