<html>
    <head>
        <title>Carry on my wayward, son</title>
    </head>
    <body>
        {% for classes in shipList|dictsort %}
        {%- for class, ships in classes|batch(2) -%}
        <h2>{{ class }}</h2>
        {%- for ship in ships -%}
        {% if loop.index0 is even %}
        {% if not loop.fist %}
        </td></tr></table>
        {% endif %}
        <table border="1"><tr><td>
        {% else %}
        </td><td>
        {% endif %}
        <table>
            <tr><td colspan="4">{{ ship.name }}</td></tr>
            <tr>
                <td rowspan="4"><img src="media/{{ship.GFX}}_comm.png" alt="" /></td>
                <td>Mass: {{ship.characteristics.mass}}</td>
                <td>Shield: {{ship.health.shield}}</td>
                <td rowspan="4">
                    <strong>Ship Slots</strong>
                    <ul>{%- set counting = 0 -%}
                        {%- for slot in ship.slots|dictsort -%}
                        {%- set counting = counting+1 -%}
                        <li>{{ slot[0] }} {{ slot[1] }} {{slot[1]|count}}
                        </li>
                        {%- endfor -%}
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Thrust: {{ship.movement.thrust}}</td>
                <td>Armour: {{ship.health.armour}}</td>
            </tr>
            <tr>
                <td>Speed: {{ship.movement.speed}}</td>
                <td>Energy: {{ship.health.energy}}</td>
            </tr>
            <tr>
                <td>Turn: {{ship.movement.turn}}</td>
                <td></td>
            </tr>
            {%- if ship.stats -%}
            <tr>
                <td colspan="4">
                    <strong>Stats</strong>
                    <ul>
                    {%- for stat in ship.stats|dictsort -%}
                        <li>{{stat[0]|getStatsLabel}}: {{stat[1]}}</li>
                    {%- endfor -%}
                    </ul>
                </td>
            </tr>
            {%- endif -%}
        </table>
        {% if loop.last %}
        </td></tr></table>
        {%- endif -%}
        {%- endfor -%}
        {%- endfor -%}
        {% endfor %}
    </body>
</html>
