{% import '_macro.html' as macros %}
{% extends "base.html" %}
    {% block head %}
        <title>Naev Outfits Database</title>
    {% endblock head %}
    {% block body %}
        {%- for slot, outfitsList in outfits|dictsort -%}
            <div class="class">
                <h2>{{ slot }}</h2>
                {% for outfitName, outfitDetails in outfitsList %}
                <p>General:</p>
                <ul>
                    {% for genTag, genData in outfitDetails.general|dictsort %}
                    <li>{{genTag}}: {{genData}}</li>
                    {% endfor %}
                </ul>
                <p>Specific:</p>
                <ul>
                    {% for specTag, specData in outfitDetails.specific|dictsort %}
                    <li>{{specTag}} : {{specData}}</li>
                    {% endfor %}
                </ul>
                {% endfor %}
            </div>
        {% endfor %}
    {% endblock body %}

