#include <winresrc.h>

101 ICON DISCARDABLE "../extras/logos/logo.ico"

VS_VERSION_INFO VERSIONINFO
FILEFLAGSMASK 0x17L
#ifdef DEBUG
	FILEFLAGS 0x3L
#else
	FILEFLAGS 0x2L
#endif
FILEVERSION 0,6,0,0
FILEOS 0x4L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040004b0"
		BEGIN
			VALUE "Comments", "http://naev.org/"
			VALUE "CompanyName", "Naev Team"
			VALUE "FileDescription", "Naev: Sea of Darkness"
			VALUE "InternalName", "naev"
			VALUE "LegalCopyright", "Copyright (C) 2006-2017"
			VALUE "OriginalFilename", "naev.exe"
			VALUE "ProductName", "Naev: Sea of Darkness"
			VALUE "ProductVersion", "0.6.1"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x400, 1200
	END
END
