on: [push, pull_request]

name: CI

permissions: {}
jobs:
  "Package_Source":
    permissions:
      contents: write
    uses: "naev/naev/.github/workflows/compile_naev.yml@main"
    with:
      platform: "source"

  "Linux_Compile_Naev":
    needs: "Package_Source"
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - build_type: debug
          - build_type: release
    uses: "naev/naev/.github/workflows/compile_naev.yml@main"
    with:
      platform: "linux"
      build_type: "${{ matrix.build_type }}"
      release: false

  "Windows_Compile_Naev":
    needs: "Package_Source"
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - build_type: debug
          - build_type: release
    uses: "naev/naev/.github/workflows/compile_naev.yml@main"
    with:
      platform: "windows"
      build_type: "${{ matrix.build_type }}"
      release: false

  "Darwin_Compile_Naev":
    needs: "Package_Source"
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - build_type: debug
          - build_type: release
    uses: "naev/naev/.github/workflows/compile_naev.yml@main"
    with:
      platform: "macos"
      build_type: "${{ matrix.build_type }}"
      release: false

  "Documentation":
    needs:
      [
        Linux_Compile_Naev,
        Windows_Compile_Naev,
        Darwin_Compile_Naev,
      ]
    permissions:
      contents: write
    uses: "naev/naev/.github/workflows/compile_naev.yml@main"
    with:
      platform: "docs"

  "Update_API_Docs":
    needs: "Documentation"
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Trigger API Documentation Update
        if: ${{ github.event_name == 'push' && github.repository == 'naev/naev' && github.ref == 'refs/heads/main' }}
        uses: convictional/trigger-workflow-and-wait@v1.6.5
        with:
          owner: naev
          repo: naev.github.io
          github_token: ${{ secrets.WEBSITE_ACCESS_TOKEN }}
          workflow_file_name: website_publish.yml
          client_payload: '{ "publish_type": "docs" }'