on: [push, pull_request]

name: CI

jobs:
  "Linux-x86_64":
    runs-on: ubuntu-latest

    steps:
    - name: Update APT Cache
      run: |
        sudo apt-get update

    - name: Install Additional Build Dependencies
      run: |
        sudo apt-get install \
          build-essential \
          automake \
          autoconf-archive \
          libsdl2-dev \
          libsdl2-mixer-dev \
          libsdl2-image-dev \
          libgl1-mesa-dev \
          libxml2-dev \
          libfontconfig1-dev \
          libfreetype6-dev \
          libpng-dev \
          libopenal-dev \
          libvorbis-dev \
          binutils-dev \
          libzip-dev \
          libiberty-dev \
          libluajit-5.1-dev \
          gettext \
          autopoint \
          intltool

    - name: Checkout Naev Repository 
      uses: actions/checkout@v2

    - name: Test-Build Naev on Linux64
      run: |
        ./autogen.sh
        ./configure --build=x86_64-linux-gnu --host=x86_64-linux-gnu
        make -j$(nproc --all)
      env:
        CFLAGS: "-O3"

    - name: Upload Artifact
      uses: actions/upload-artifact@v2
      with:
        name: naev-lin64-${{ github.sha }}
        path: ${{ github.workspace }}/src/naev

  "Windows-MinGW64":
    runs-on: windows-latest

    defaults:
      run:
        shell: msys2 {0}

    steps:
    - name: Setup MINGW64 Environment
      uses: msys2/setup-msys2@v2
      with:
        msystem: MINGW64
        update: true
        install: mingw-w64-x86_64-libtool mingw-w64-x86_64-toolchain mingw-w64-x86_64-gcc mingw-w64-x86_64-SDL2 mingw-w64-x86_64-SDL2_mixer mingw-w64-x86_64-SDL2_image mingw-w64-x86_64-libxml2 mingw-w64-x86_64-libpng mingw-w64-x86_64-openal mingw-w64-x86_64-libvorbis mingw-w64-x86_64-binutils mingw-w64-x86_64-fontconfig mingw-w64-x86_64-freetype mingw-w64-x86_64-libzip mingw-w64-x86_64-gettext mingw-w64-x86_64-luajit libtool autoconf autoconf-archive automake automake-wrapper git gettext pkgconfig make intltool itstool

    - name: Checkout Naev Repository 
      uses: actions/checkout@v2

    - name: Test-Build Naev on Win64
      run: |
        ./autogen.sh
        ./configure
        make -j$(nproc --all)
      env:
        CFLAGS: "-O3"
    
    - name: Upload Artifact
      uses: actions/upload-artifact@v2
      with:
        name: naev-win64-${{ github.sha }}
        path: ${{ github.workspace }}/src/naev.exe

  "macOS":
    runs-on: macos-latest

    steps:
    - name: Update Homebrew Cache
      run: |
        brew update

    - name: Install Additional Build Dependencies
      run: |
        brew install \
          automake \
          autoconf-archive \
          pkg-config \
          fontconfig \
          luajit \
          intltool \
          sdl2 \
          sdl2_mixer \
          sdl2_image \
          openal-soft
          
    - name: Remove Homebrew Perl
      run: |
        brew uninstall --ignore-dependencies perl
        
    - name: Checkout Naev Repository 
      uses: actions/checkout@v2

    - name: Test-Build Naev on MacOS
      run: |
        # PKGCONFIG configuration for OpenAL
        export PKG_CONFIG_PATH="$PKG_CONFIG_PATH:/usr/local/opt/openal-soft/lib/pkgconfig"
        
        ./autogen.sh
        ./configure
        make -j$(sysctl -n hw.logicalcpu)
      env:
        CFLAGS: "-O3 -mmacosx-version-min=10.7"
    
    - name: Build MacOS Bundle
      run: ./extras/macos/bundle.sh
    
    - name: Upload Artifact
      uses: actions/upload-artifact@v2
      with:
        name: naev-macos-${{ github.sha }}
        path: ${{ github.workspace }}/Naev.app/ 

  "Lua-Documentation":
    runs-on: ubuntu-latest
    needs: [Windows-MinGW64, macOS, Linux-x86_64]

    steps:
    - name: Install SSH Key
      uses: shimataro/ssh-key-action@v2.0.3
      with:
        key: ${{ secrets.SSH_KEY }}
        name: id_rsa # optional
        known_hosts: ${{ secrets.KNOWN_HOSTS }}
      if: ${{ github.event_name == 'push' && github.repository == 'naev/naev' }}

    - name: Update APT Cache
      run: |
        sudo apt-get update

    - name: Install Additional Build Dependencies
      run: |
        sudo apt-get install \
          build-essential \
          automake \
          autoconf-archive \
          libsdl2-dev \
          libsdl2-mixer-dev \
          libsdl2-image-dev \
          libgl1-mesa-dev \
          libxml2-dev \
          libfontconfig1-dev \
          libfreetype6-dev \
          libpng-dev \
          libopenal-dev \
          libvorbis-dev \
          binutils-dev \
          libzip-dev \
          libiberty-dev \
          libluajit-5.1-dev \
          lua-ldoc \
          gettext \
          autopoint \
          intltool \
          itstool

    - name: Checkout Naev Repository 
      uses: actions/checkout@v2

    - name: Build Naev Lua Documentation
      run: |
        ./autogen.sh
        ./configure
        make -C docs lua
    
    - name: Upload Lua Documentation
      run: rsync -e "ssh -o 'StrictHostKeyChecking no'" -rv --delete docs/html/ travis@iandouglasscott.com:/srv/naevdoc
      if: ${{ github.event_name == 'push' && github.repository == 'naev/naev' }}

    - name: Upload Artifact
      uses: actions/upload-artifact@v2
      with:
        name: naev-luadocs-${{ github.sha }}
        path: ${{ github.workspace }}/docs/html/
